main {
  background-color: #EEE;
}

header {
  background-color: #DDD;
}


.card {
  background-color: #DDD;
  display: flex;
  margin: 5%;
  margin-left: 15%;
  margin-right: 15%;
}

.card img {
  margin: 3%;
  width: 50%;
}

.container {
  display: flex;
}

#personal {
  margin: 3%;
  width: 50%;
}