nav {
  margin-right: 24px;
}

.nav {
  margin: 12px;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
}

.nav li {
  list-style-type: none;
  margin-right: 24px;
}

.contact p{
  margin: 0px;
}